main.restaurant-checkout-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & nav {
    display: flex;
    gap: 1ch;

    & button {
      cursor: pointer;
    }

    & h2 {
      font-size: 26pt;
      font-weight: 600;
    }
  }

  & div.body {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 2rem;

    & section {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      max-width: 45rem;

      & div.products,
      div.payment {
        display: flex;
        /* gap: 0.5rem; */
        flex-direction: column;

        & h3 {
          font-weight: 600;
          font-size: 16pt;
          display: flex;
          flex-direction: column;

          & span {
            font-size: initial;
            font-weight: 400;
          }
        }

        & details {
          display: flex;
          flex-direction: column;

          &:not(:last-child) {
            border-bottom: solid 1px var(--light200);
          }

          &::details-content {
            overflow: hidden;
            block-size: 0;
            transition:
              block-size 250ms,
              content-visibility 250ms;
            transition-behavior: allow-discrete;
          }

          &[open]::details-content {
            block-size: auto;
          }

          & summary {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            cursor: default;
            position: relative;

            &:hover {
              background-color: var(--light200);
              cursor: pointer;
            }

            & h4 {
              font-weight: 450;
            }

            & hr {
              position: absolute;
              bottom: -0.5rem;
              margin-left: 0.5rem;
              width: calc(100% - 1rem);
              left: 0;
              border-radius: 1rem;
              height: 1.5px;
              background-color: var(--light200);
            }

            & svg {
              transition: rotate 250ms;
            }
          }

          & ul {
            display: flex;
            flex-direction: column;
            margin-top: 1rem;

            &:has(label) {
              gap: 0.5rem;
            }

            & li,
            label {
              display: flex;
              align-items: center;
              gap: 1rem;
              padding: 0.5rem 1rem;

              & span.item-count {
                font-weight: 600;
              }

              & span.price {
                font-weight: 600;
                margin-left: auto;
                display: flex;
              }
            }

            & label {
              border-radius: 0.5rem;
              outline: solid 1px var(--light200);
              outline-color: var(--light200);
              outline-offset: -1px;
              cursor: pointer;
              transition: outline-color 150ms;

              &:hover {
                background-color: var(--light200);

                & input {
                  background-color: var(--color-white);
                }
              }

              &:has(input:checked) {
                outline-color: var(--color-sky-600);
                outline-width: 2px;
                outline-offset: -2px;
                background-color: var(--color-sky-100);
              }

              & input {
                all: unset;
                width: 1.125rem;
                height: 1.125rem;
                border-radius: 3rem;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                aspect-ratio: 1;
                transition:
                  background-color 150ms,
                  outline 150ms;

                &:not(:checked) {
                  outline: solid 1px var(--light300);
                  transition: none;
                }

                &:checked {
                  background-color: var(--color-sky-600);
                }

                &::after {
                  content: "";
                  position: absolute;
                  background: var(--color-white);
                  border-radius: 3rem;
                  width: 0.625rem;
                  height: 0.625rem;
                }
              }
            }
          }
        }

        &:has(details[open]) [open] svg:not(.payment-icon) {
          rotate: 180deg;
        }
      }

      & div.delivery {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        & h3 {
          font-weight: 600;
          font-size: 16pt;
        }
      }

      & div.payment {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        & h3 {
          font-weight: 600;
          font-size: 16pt;

          & span {
            margin-top: 0.5rem;
          }
        }
      }
    }

    & aside {
      height: fit-content;
      display: flex;
      gap: 0.5rem;
      flex-direction: column;
      border: solid 1px var(--light200);
      padding: 1.5rem;
      padding-top: 1rem;
      border-radius: 1rem;
      background-color: var(--light200);

      & h3 {
        font-size: 18pt;
        font-weight: 600;
      }

      & hr {
        height: 1.5px;
        background: var(--light300);
        border-radius: 1rem;
      }

      & ul {
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        & li {
          justify-content: space-between;
          display: flex;
          width: 20rem;

          &.total {
            font-weight: 600;
            font-size: 16pt;
          }
        }
      }

      & button.btn {
        color: var(--color-red-400);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-primary);
        color: var(--color-white);
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        margin-top: 0.5rem;
        cursor: pointer;
        transition:
          background-color 200ms cubic-bezier(0.78, 0, 0.22, 1),
          scale 750ms var(--transition-bounce);

        & span {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          transition: 200ms;
          transition-property: translate opacity;
          transition-timing-function: cubic-bezier(0.78, 0, 0.22, 1);
          position: relative;

          & svg {
            position: absolute;
            right: 0;
            translate: 0rem;
            opacity: 0;
            transition: 200ms;
            transition-property: translate opacity;
            transition-timing-function: cubic-bezier(0.78, 0, 0.22, 1);
          }
        }

        &.animation:hover p {
          translate: -0.75rem;
        }

        &.animation:hover svg {
          translate: 1.5rem;
          opacity: 1;
        }

        &:hover {
          background-color: rgb(
            from #a8201a calc(r - 2) calc(g - 2) calc(b - 2)
          );
        }

        &:active {
          scale: 0.975;
        }

        &:disabled {
          background-color: var(--light300);
          cursor: not-allowed;
        }

        & svg {
          translate: 0.5rem;
        }
      }
    }
  }
}
