section.login {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	margin: auto;
}

section .login-wrapper {
	max-width: 35em;
	background-color: #ddd;
	padding: 5em;
	display: flex;
	gap: 2em;
	flex-direction: column;
	border-radius: 5em;
	corner-shape: squircle;

	& div:not(.login-wrapper) {
		display: flex;
		/* height: 4em; */
		align-items: center;
		gap: 1em;
	}
}

.login button {
	border: 0;
	padding: 1em;
	border-radius: 100vh;
	aspect-ratio: 1;
	height: 100%;

	&:hover {
		background-color: #bbb;
		cursor: pointer;
	}

	& img {
		width: 2.5em;
		height: auto;
	}
}