body:has(.register) {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100dvh;
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section.register {
	max-width: 35em;
	background-color: #ddd;
	padding: 5em;
	display: flex;
	gap: 2em;
	flex-direction: column;
	border-radius: 5em;
	corner-shape: squircle;

	& div {
		display: flex;
		justify-content: space-between;
		gap: 3em;
	}
}

.register button {
	border: 0;
	padding: 1em;
	border-radius: 100vh;
	aspect-ratio: 1;
	height: fit-content;

	&:hover {
		background-color: #bbb;
		cursor: pointer;
	}
}