div.restaurant-radius-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & h2 {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        & button {
            cursor: pointer;
            border-radius: 5rem;
            padding: 0.25rem;

            &:hover {
                background: var(--color-gray-200);
            }
        }
    }

    & p {
        font-weight: 100;
    }

    & form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem 1rem;

        & div {
            &:has(#street) {
                grid-column: span 2;
            }

            &:has(#city) {
                grid-column: span 2;
            }

            & label {
                font-size: 10pt;
            }

            & input {
                width: 100%;
                background-color: var(--color-white);
                border-radius: 0.5rem;
                padding: 0.5rem 1rem;
                border: solid 1.5px var(--color-gray-200);
            }
        }
    }
}
