.grid-day-picker-editor {
  &.rdp-root {
    padding: 1rem;
    background-color: var(--color-white);
    border-radius: 1rem;
    width: 100%;

    & div.rdp-months {
      padding: 0;

      & nav.rdp-nav {
        /* gap: 0.5rem; */

        & button {
          border-radius: 100%;
          transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
          width: 1.75rem;
          height: 1.75rem;

          &:hover {
            background-color: var(--color-gray-200);
          }

          & svg {
            width: 1.25rem;
            fill: var(--color-black);
          }
        }
      }

      & div.rdp-month {
        & div.rdp-month_caption {
          padding: 0.5rem;
        }

        & table {
          margin-top: 1rem;

          & * {
            padding: 0;
            margin: 0;
            width: fit-content;
            height: fit-content;
          }

          & .rdp-today {
            color: var(--primary);

            & button {
              border: solid 1px;
            }
          }

          & .rdp-day {
            & button {
              width: 2.25rem;
              height: 2.25rem;
              font-size: 11pt;

              &:hover {
                background-color: var(--color-gray-200);
              }

              &[aria-label$="selected"] {
                background-color: var(--primary);
                color: white;
                border: 0;
              }
            }
          }

          & .rdp-outside {
            color: var(--color-gray-400);
          }
        }
      }
    }
  }
}
