main.order-sales-performance {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & .chart-wrapper {
    min-height: 0;
  }

  & section.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    & .select {
      background-color: var(--light200);
      padding: 0.25rem 0.75rem;
      font-size: 10.5pt;
      border-radius: 0.5rem;
      width: fit-content;
    }

    & div.money {
      display: flex;
      align-items: flex-end;
      justify-content: end;
      gap: 0.5rem;
      width: 100%;

      & h4 {
        font-size: 20pt;
        font-weight: 450;
      }

      & span {
        margin-bottom: 0.33rem;
        display: flex;
        align-items: center;
        color: var(--color-green-600);
      }
    }
  }
}

#root:has(main.order-sales-performance) ~ div .select-filter {
  display: flex;
  gap: 1rem;

  & [data-radix-select-viewport] {
    & [data-slot="select-group"] {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      margin: 0.25rem;

      & [data-slot="select-item"] {
        padding: 0.375rem 0.75rem;
        font-size: 10.5pt;
        border-radius: 0.5rem;
        cursor: pointer;

        &[data-state="checked"] {
          background-color: var(--light200);
        }
      }
    }
  }
}
