button.logo {
	background: transparent;
	height: fit-content;
	width: fit-content;
	display: flex;
	align-items: center;

	&:hover {
		cursor: pointer;
	}

	& div {
		display: flex;
		align-items: center;
		gap: 1rem;
		margin: 1em;

		& svg {
			height: 2em;
			width: fit-content;
			fill: #C52031;
		}
	}
}