nav.navbar {
  position: sticky;
  z-index: 50;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #fff;

  & div.wrapper {
    width: 100%;
    /* max-width: 80em; */
    display: flex;
    align-items: center;
    gap: 1rem;

    & ul {
      display: flex;
      align-items: center;
      gap: 2.5em;
      margin: 1em;

      & a.link {
        color: black;
        font-size: 14pt;
        text-decoration: none;
        position: relative;

        &:focus-visible {
          outline: none;

          &:before {
            content: "";
            position: absolute;
            width: calc(100% + 1.5rem);
            left: -0.75rem;
            border-radius: 0.25rem;
            height: 100%;
            outline: solid 2px;
          }
        }

        &.active:focus-visible::before {
          color: black;
        }

        &:hover,
        &.active {
          color: var(--color-primary);
        }
      }
    }

    & div.account-menu {
      margin-left: auto;
    }

    & button.menu-toggle {
      display: none;
      cursor: pointer;
      padding: 0 0.5rem;
    }
  }
}

#root:has(.navbar) ~ .menu-drawer {
  display: flex;
  padding: 1rem;
  gap: 0.5rem;

  & button {
    background-color: var(--light200);
    border-radius: 0.5rem;
    padding: 1rem;
    cursor: pointer;

    &:hover {
      background-color: var(--light300);
    }

    &.register-btn {
      background-color: var(--color-black);
      color: var(--color-white);

      &:hover {
        background-color: var(--color-neutral-700);
      }
    }
  }

  & div.profile {
    display: flex;
    gap: 1.5rem;
    padding: 1rem;
    align-items: center;

    & img {
      border-radius: 50%;
      width: 4rem;
    }

    & div.info {
      display: flex;
      flex-direction: column;

      & h4 {
        font-size: 16pt;
        font-weight: 500;
      }

      & p {
        font-size: 12pt;
      }
    }
  }

  & hr {
    height: 2px;
    background-color: var(--light200);
    border-radius: 1rem;
  }

  & ul {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    & li {
      display: flex;
      align-items: center;
      gap: 1ch;
      font-size: 14pt;
      padding: 1rem 1.25rem;
      border-radius: 0.5rem;
      cursor: pointer;
      transition-duration: 750ms;
      transition-property: scale;
      transition-timing-function: var(--transition-bounce);

      &:active {
        scale: 0.95;
      }

      &:hover {
        background-color: var(--light200);
      }

      &.dashboard-btn {
        color: var(--color-sky-600);

        &:hover {
          background-color: var(--color-sky-100);
        }
      }

      &.logout-btn {
        color: var(--color-red-600);

        &:hover {
          background-color: var(--color-red-100);
        }
      }
    }
  }
}

@media screen and (width < 600px) {
  nav.navbar {
    & button.menu-toggle {
      display: flex !important;
      margin-left: auto;
    }

    & .account-menu {
      display: none;
    }
  }
}
